# Testing
black==22.10.0                    # Standard python formatter
coverage==6.5.0                  # Test coverage
flake8==6.0.0                    # Python linting

# Types
mypy==0.991                      # Static typing
types-setuptools==65.6.0.1       # Type stubs for setuptools package
