# Testing
black==22.6.0                    # Standard python formatter
coverage==6.4.3                  # Test coverage
flake8==5.0.4                    # Python linting
mypy==0.971                      # Static typing
